<%= form_with(model: card_collection) do |form| %>
  <% if card_collection.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(card_collection.errors.count, "error") %> prohibited this card_collection from being saved:</h2>
      <ul>
        <% card_collection.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-10">
    <div class="flex items-center mb-5 border-b border-gray-300 w-fit min-w-96">
      <%= form.label :name, "Title", style: "display: block", class: "font-bold" %>
      <%= form.text_field :name, placeholder: "Enter the title of the deck", class: "px-3 py-2 w-full border-none focus:outline-none focus:ring-0" %>
    </div>
    <div class="flex items-center border-b border-gray-300 w-fit min-w-96">
      <%= form.label :description, style: "display: block", class: "font-bold" %>
      <%= form.text_field :description, placeholder: "Enter a description of the deck", class: "px-3 py-2 w-full border-none focus:outline-none focus:ring-0" %>
    </div>
  </div>
  <div class="card-fields-container">
    <%= form.fields_for :cards do |card_form| %>
      <% if card_form.index < 5 %>
        <div class="flex mb-5 card-field">
          <div class="flex items-center border-b border-gray-300 w-fit min-w-96 mr-20">
            <%= card_form.label :question, "Question", style: "display: block", class: "font-bold" %>
            <%= card_form.text_area :question, placeholder: "Write a question", class: "px-3 py-2 w-full border-none focus:outline-none focus:ring-0 h-[40px]" %>
          </div>
          <div class="flex items-center border-b border-gray-300 w-fit min-w-96">
            <%= card_form.label :answer, "Answer", style: "display: block", class: "font-bold" %>
            <%= card_form.text_area :answer, placeholder: "Write an answer", class: "px-3 py-2 w-full border-none focus:outline-none focus:ring-0 h-[40px]" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div>
    <button type="button" id="add-card-btn">Add more pairs</button>
  </div>
  <div>
    <%= form.submit "Save Collection" %>
  </div>
<% end %>
