<%= form_with(model: card_collection) do |form| %>
  <% if card_collection.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(card_collection.errors.count, "error") %> prohibited this card_collection from being saved:</h2>
      <ul>
        <% card_collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex items-center border-b border-gray-300 w-fit min-w-96">
    <%= form.label :name, "Title", style: "display: block" %>
    <%= form.text_field :name, placeholder: "Enter the title of the deck", class: "px-3 py-2 w-full border-none focus:outline-none focus:ring-0" %>
  </div>
  <div class="flex items-center border-b border-gray-300 w-fit min-w-96">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, placeholder: "Enter a description of the deck", class: "px-3 py-2 w-full border-none focus:outline-none focus:ring-0"  %>
  </div>
  <%= form.fields_for :cards do |card_form| %>
    <div class="flex">
      <div>
        <%= card_form.label :question, "Question", style: "display: block" %>
        <%= card_form.text_field :question, placeholder: "Enter the question", class: "px-3 py-2 w-full border-none focus:outline-none focus:ring-0" %>
      </div>
      <div>
        <%= card_form.label :answer, "Answer", style: "display: block" %>
        <%= card_form.text_field :answer, placeholder: "Enter the answer", class: "px-3 py-2 w-full border-none focus:outline-none focus:ring-0" %>
      </div>
    </div>
  <% end %>
  <div>
    <%= form.submit "Save Collection" %>
  </div>
<% end %>