<p style="color: green"><%= notice %></p>
<h1 class="text-4xl mb-5">
  <%= @card_collection.name %>
</h1>
<p class="mb-5 w-2/3">
  <%= @card_collection.description %>
</p>
<% if @card_collection.cards.any? %>
  <div id="practice-card" class="w-2/3 mb-10 shadow-lg min-h-96 cursor-pointer bg-[#E5E3E321] rounded-3xl flex items-center justify-center px-10">
    <div class="text-center">
      <p class="text-xl font-semibold mb-5" id="question"><%= @card_collection.cards.first.question %></p>
      <p class="text-xl hidden" id="answer"><%= @card_collection.cards.first.answer %></p>
    </div>
  </div>
  <div class="w-2/3 flex justify-between">
    <div>
      <button>Play</button>
      <button>Shuffle</button>
    </div>
    <div class="flex items-center">
      <button id="prev" class=" text-white font-bold py-2 px-4 rounded"
    data-card-id="<%= @card_collection.cards.first.id %>" data-collection-id="<%= @card_collection.id %>">
        <%= image_tag("icons/previous-card.svg") %>
      </button>
      <span>
        <span id="card-index">
          <%= @card_collection.cards.index(@card_collection.cards.first) + 1 %> / <%= @card_collection.cards.size %>
        </span>
      </span>
      <button id="next" class=" text-white font-bold py-2 px-4 rounded"
    data-card-id="<%= @card_collection.cards.first.id %>" data-collection-id="<%= @card_collection.id %>">
        <%= image_tag("icons/next-card.svg") %>
      </button>
    </div>
    <div>
      <button>Edit</button>
    </div>
  </div>
<% else %>
  <p>No cards available for this collection.</p>
<% end %>
<div>
  <%= link_to "Edit this practice deck", edit_card_collection_path(@card_collection) %> |
  <%= link_to "Back to practice decks", card_collections_path %>
  <%= button_to "Delete this practice deck", @card_collection, method: :delete %>
</div>