<%= form_with(model: @user, url: user_path(@user), method: :patch) do |f| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :username, style: "display: block" %>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :first_name, style: "display: block" %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name, style: "display: block" %>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :canton, style: "display: block" %>
    <%= f.text_field :canton %>
  </div>
  <div>
    <%= f.label :country_of_origin, style: "display: block" %>
    <%= f.text_field :country_of_origin %>
  </div>
  <div>
    <%= f.label :languages, style: "display: block" %>
    <%= f.text_field :languages, placeholder: "Comma-separated (e.g., English, French)" %>
  </div>
  <div>
    <%= f.label :avatar, "Profile Picture", style: "display: block" %>
    <%= f.file_field :avatar, accept: 'image/*' %>
    <% if @user.avatar.attached? %>
      <div class="mt-2">
        <p>Current avatar:</p>
        <%= image_tag @user.avatar, class: "w-32 h-32 rounded-full" %>
      </div>
    <% end %>
  </div>
  <div>
    <%= f.submit "Update Profile" %>
  </div>
<% end %>
