<div class="container mx-auto px-10 mt-10">
  <!-- Upper section: User Profile -->
  <div class="flex justify-between mb-10">
    <div class="flex flex-col justify-between">
      <div>
        <h1 class="text-3xl font-bold mt-4"><%= @user.first_name %> <%= @user.last_name %></h1>
        <p class="text-gray-500">@<%= @user.username %></p>
        <p class="text-gray-400">Joined <%= @user.created_at.strftime("%B %Y") %></p>
      </div>
      <div class="mt-6 max-w-md">
        <p><strong>Canton:</strong> <%= @user.canton %></p>
        <p><strong>Country of origin:</strong> <%= @user.country_of_origin %></p>
        <p><strong>Languages:</strong> <%= @user.languages.present? ? JSON.parse(@user.languages).join(", ") : "Not specified" %></p>
      </div>
    </div>
    <div style="display:flex; position: relative; margin-right: 250px;">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, style: "width: 300px !important; height: 300px !important; object-fit: cover; border-radius: 50%;" %>
      <% else %>
        <%= image_tag "default-avatar.svg", style: "width: 300px !important; height: 300px !important; object-fit: cover; border-radius: 50%;" %>
      <% end %>
      <%= link_to edit_user_path(@user), style: "position: absolute; top: 0px; right: -200px; padding: 10px" do %>
        <%= image_tag("icons/edit.svg", class: "w-10") %>
      <% end %>
    </div>
  </div>
  <!-- Lower Section: Achievements & Activity -->
  <div class="flex w-full mb-10" style="gap: 40px;">
    <div class="w-1/2">
      <h2 class="text-lg font-bold">Achievements</h2>
      <div class="border rounded-lg p-5 mt-2">
        <% if @achievements.any? %>
          <% @achievements.each do |achievement| %>
            <div class="flex items-center mb-5">
              <%= image_tag("icons/medal.svg", style: "margin-right: 35px") %>
              <div class="ml-3">
                <p class="font-bold"><%= achievement.title %></p>
                <p class="text-gray-500 text-sm"><%= achievement.description %></p>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="p-6" >No achievements yet.</p>
        <% end %>
      </div>
    </div>
    <div class="w-1/2">
      <h2 class="text-lg font-bold mt-8">Activity</h2>
      <div class="border rounded-lg p-5 mt-2">
        <%= render "calendar", user: @user %>
      </div>
    </div>
  </div>
</div>
