<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Swissitize" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class=" sticky top-0 bg-swiss-red px-7 py-3 flex items-center justify-between text-white font-semibold text-lg">
      <a href="/">
        <%= image_tag ("logo.svg") %>
      </a>
      <nav>
        <ul class="flex gap-24">
          <li>
            <a href="/" class="hover:text-gold">
              Home
            </a>
          </li>
          <li>
            <a href="#about" class="hover:text-gold">
              About
            </a>
          </li>
          <li>
            <a href="#how-to" class="hover:text-gold">
              How to use
            </a>
          </li>
          <li>
            <a href="#" class="hover:text-gold">
              Contact
            </a>
          </li>
        </ul>
      </nav>
      <div class="flex gap-7">
        <%= link_to new_card_collection_path, class: "flex items-center justify-center h-12 w-12 bg-white hover:bg-gold text-black rounded-full" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
          </svg>
        <% end %>
        <a href="#" class="py-2 px-4 bg-white hover:bg-gold text-black rounded-full self-center" >Log out</a>
      </div>
      <%# <div class="flex gap-7">
       <a href="#" class="py-3 px-6 bg-white hover:bg-gold text-black rounded-full" >Sign up</a>
       <a href="#" class="py-3 px-6 bg-white hover:bg-gold text-black rounded-full" >Log in</a>
      </div> %>
    </header>
    <div class="flex">
      <main class="flex-grow">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
