<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Swissitize" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-swiss-red p-7 flex items-center justify-between text-white font-semibold text-xl">
      <a href="/">
        <%= image_tag ("logo.svg") %>
      </a>
      <nav>
        <ul class="flex gap-24">
          <li> 
            <a href="#" class="hover:text-gold">
              Home
            </a>
            </li>
          <li> 
            <a href="#" class="hover:text-gold">
              About
            </a>
            </li>
          <li> 
            <a href="#" class="hover:text-gold">
              How to use
            </a>
            </li>
          <li> 
            <a href="#" class="hover:text-gold">
              Contact
            </a>
            </li>
        </ul>
      </nav>
      <div class="flex gap-7">
       <a href="#" class="py-3 px-6 bg-white hover:bg-gold text-black rounded-full" >Sign up</a>
       <a href="#" class="py-3 px-6 bg-white hover:bg-gold text-black rounded-full" >Log in</a>
      </div>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">

      <%= yield %>
    </main>
  </body>
</html>
